<head>
</head>
<main>
  <nav>
    <div class="nav-wrapper">
      <a class="brand-logo center">Notas</a>
    </div>
  </nav>

<div class="container center-align">
  <h2>Agrega una nueva nota</h2>

  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="row">
          <div class="input-field col s12">
            <input #valor1 id="titulo" type="text">
            <label for="titulo">Título</label>
          </div>
        </div>
        <div class="input-field col s12">
          <textarea #valor2 id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Contenido</label>
        </div>
      </div>
    </form>
  </div>

  <button class="btn-large waves-effect waves-light yellow darken-2" (click)="addNote(valor1,valor2)" type="submit" name="action" >Guardar
    <i class="material-icons right">send</i>
  </button>

  <h2>Tus Notas</h2>

  <ul class="collapsible">
    <li *ngFor="let nota of notas">
      <div class="collapsible-header">{{nota.title}}</div>
      <div class="collapsible-body"><span>{{nota.body}}</span></div>
    </li>
  </ul>

</div>
</main>
<footer></footer>
<router-outlet></router-outlet>
